<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="img/favicon.ico">
    <title>Dev Junior #</title>
    
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
    
    <!-- font poppins -->
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
</head>
<body>
    <header>
            <div class="cx-logo">
                <h2 id="dev">Dev</h2>
                <img id="logo" src="img/jr.png" alt="imagem_logo-dev-jr">
            </div>
    
            <div class="cx-titulo">
                <h2 id="titulo">Dev Junior # - Um passo adiante</h2>
            </div>

            <div class="cx-menu">
                <div id="menu">
                    <a href="">Cursos</a>
                </div>
                <div id="menu">
                    <a href="">Vagas</a>
                </div>
                <div id="menu-login">
                    <a href="" id="login">Login</a>
                </div>
            </div>
  
        <nav id="nav">
            <button id="btn-mobile">
                <span id="hamburger"></span>
                <span id="hamburger2"></span>
                <span id="hamburger3"></span>
            </button>
            
            <ul id="coluna-menu">
                <li><a href="/home">Home</a></li>
                <li><a href="/cursos">Cursos</a></li>
                <li><a href="/vagas">Vagas</a></li>
                <li><a href="/login">Login</a></li>
            </ul>
        </nav>
    </header>
    
    <main>
        <section class="section-1">
            <div class="img-dev-jr">
                <img src="img/programador-jr.jpg" alt="imagem_programador-jr">
            </div>

            <div class="introducao">
                <h2>Amplie o seu conhecimento e avalanque sua carreira</h2>
                <h3>Você é um Dev Junior e quer avançar na sua carreira de programador?
                    Então você chegou ao lugar certo! Aqui você encontra tudo que precisa
                    para decolar em sua carreira, desde cursos e tutoriais à vagas 
                    relacionadas ao nível Dev Junior. Isso não é massa?</h3>
            </div>    
        </section>

        <section class="section-opcoes">
            <div class="opcoes">
                <h2>Nas opções abaixo você pode escolher entre buscar por materiais 
                    como cursos, tutoriais ou uma linguagem de programação 
                    específica. Ou se desejar ao lado você pode buscar por vagas de 
                    emprego ou estágio na área de desenvolvimento</h2>
            </div>    
        </section>
        
        <section class="section-2">
            <article id="article-1">
                <div class="consulte-curso">
                    <h2>Cursos e Tutoriais</h2>
                </div>         
                
                <div class="img-opcao">
                    <img id="img-curso" src="img/curso.png" alt="imagem_cursos">
                </div>

                
                <div class="pesquisar">
                    <button type="submit" id="btn-pesquisar">Buscar >></button>
                </div>
            </article>

            <article id="article-2">

                <div class="consulte-vaga">
                    <h2>Vagas Dev Junior</h3>
                </div>         
                
                <div class="img-opcao">
                    <img id="img-vaga" src="img/vaga.jpg" alt="imagem_vagas">
                </div>
                
                <div class="pesquisar">
                    <button type="submit" id="btn-pesquisar">Buscar >></button>
                </div>
            </article>
        </section>
    </main>

    <footer>
        <div class="cx-dados-rodape">
            <h4 class="titulo-dev">Equipe de Desenvolvedores:</h4>
            <br />
            <h4>Andre Koloda</h4>
            <h4>Erinaldo Cardoso</h4>
            <h4>Jandesson Pereira</h4>
            <h4>Thaisa Rodrigues</h4>
            <h4>Isabeli Silva</h4>
            <h4>Yan</h4>
            <br />
            <img class="logo-rodape" src="img/logo.jpg" alt="imagem_logo">
            <br /><br />
            <h4>&copy; 2022. Todos os direitos reservados</h4>
            <br /><br />      
        </div>
    </footer>
    
    <script type="text/javascript" src="js/app.js"></script>

</body>
</html>